html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Helvetica, Arial;
}

body {
	background-image: url("../images/christmas-tree-santa-head-candy-cane-seamless-pattern-background-perfect-for-winter-holiday-fabric-giftwrap-scrapbook-greeting-cards-design-projects-free-vector.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
}

.container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#content, #popup {
	border: 10px solid black;
	background-color: rgba(255,255,255,0.9);
	border-radius: 60px;
	padding: 20px;
	text-align: center;
	max-width: 70%;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

h1 {
	display: block;
	text-align: center;
	font-size: 5em;
	margin: 20px;
	text-align: center;
	font-family: 'merry_christmas_starregular';
	color: #de1f25;
	line-height: 0.7;
	font-weight: 700;
	position: relative;
	max-width: 90%;
	height: 110px;
}

h1 span {
	opacity: 0;
	display: block;
}

label {
	display: block;
	font-size: 30px;
	font-family: 'jam_grotesqueregular';
	margin: 50px auto 60px;
	max-width: 70%;
}

form > p {
	margin: 10px 0;
	font-size: 0.75em;
}

input {
	border: 0;
	font-size: 2.5em;
	font-family: 'jam_grotesqueregular';
	vertical-align: middle;
}

form > div > button {
	background: none;
	border: 0;
	border-left: 1px solid;
	padding-left: 20px;
	cursor: pointer;
	font-size: 2em;
	font-family: 'Waving at Christmas';
	font-weight: bold;
	color: #4d5d55;
	vertical-align: middle;
}

.input-wrapper {
	display: inline-block;
	padding: 20px;
	border: 5px solid;
	border-radius: 60px;
	background-color: white;
	margin-bottom: 50px;
}

#waiting {
	margin: 0 auto 50px;
	max-width: 85%;
	font-size: 25px;
	font-family: 'jam_grotesqueregular';
}

.game-btns {
	display: block;
	width: 100%;
}

.full-btn {
	display: block;
	width: 100%;
	border: 5px solid;
	border-radius: 10px;
	padding: 20px;
	margin: 10px 0;
	font-size: 1.5em;
}

#startYankeeSwap {
	background-color:#4d5d55;

}

#reset {
	background-color: #de1f25;
}

#intersticial, #final, #removed {
	font-size: 3.5em;
	font-family: 'Waving at Christmas';
	position: relative;
}

#intersticial p, #number {
	font-family: 'playful_christmas-personal_Rg';
	font-weight: bold;
	font-size: 10em;
	margin: 0;
	color: #4d5d55;
	display: block;
	opacity: 1;
	transform: scale(1);
}

.hide {
	display: none;
}

.no-wrap {
	white-space: nowrap;
}

.intro-animate {
	animation: fadeIn 1s;
}

.fade-in {
	animation: fadeIn 2s;
}

.fade-out {
	animation: fadeOut 0.5s;
}

.animate-to-two {
	animation: countdownThreeToTwo 2s;
}

.animate-to-one {
	animation: countdownTwoToOne 2s;
}

.second-font {
	font-family: 'Waving at Christmas';
}

.second-color {
	color: #4d5d55;
}

.intro-hide {
	opacity: 0;
}

.reveal {
	opacity: 1;
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
	}
	100% { 
		opacity: 1; 
	}
}

@keyframes fadeOut {
	0% { 
		opacity: 1; 
	}
	100% { 
		opacity: 0; 
	}
}

@keyframes countdownThreeToTwo {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		color: #4d5d55;
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1.0);
		transform: scale(1);
		color: #de1f25;
	}
}

@keyframes countdownTwoToOne {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		color: #de1f25;
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1.0);
		transform: scale(1);
		color: #4d5d55;
	}
}

@font-face {
    font-family: 'Waving at Christmas';
    src: url('../fonts/WavingatChristmas.woff2') format('woff2'),
        url('../fonts/WavingatChristmas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playful_christmas-personal_Rg';
    src: url('../fonts/playful_christmas-personal_use-webfont.woff2') format('woff2'),
         url('../fonts/playful_christmas-personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jam_grotesqueregular';
    src: url('../fonts/fontspring-demo-jamgrotesque-regular-webfont.woff2') format('woff2'),
         url('../fonts/fontspring-demo-jamgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merry_christmas_starregular';
    src: url('../fonts/merrychristmasstar-webfont.woff2') format('woff2'),
         url('../fonts/merrychristmasstar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}